@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Sample ASP.NET MVC Site</h1>

    <p>Thsi site demonstrtes the power of ASP.NET MVC, jQuery, WebAPI, Autofac dependecy injection and the CQRM design pattern. </p>
    
        @Html.ActionLink("See the Video Samples", "Index", "Video", new { area = "" }, new { @class = "btn btn-primary btn-lg" })
        @Html.ActionLink("See the jQuery Samples", "Index", "jQuery", new { area = "" }, new { @class = "btn btn-primary btn-lg" })
</div>