<?xml version="1.0"?>

<!-- Copy this file to the top of the project directory structure and adjust the connectionString -->

<connectionStrings>
  <add connectionString="Server=[SERVER];Database=[DATABASE];User ID=[USERNAME];Password=[PASSWORD]"
       name="DefaultConnection"
       providerName="System.Data.SqlClient" />
</connectionStrings>