@{
    ViewBag.Title = "jQuery";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>jQuery Accordion</h2>

<p>Accordion panel collapsed on load with custom headers.</p>

<div id="accordion">
    <div id="accordionHeader">
        <h3>Section 1</h3>
        <p>
            More Stuff Here
            <input type="button" id="testButton1" value="Test Button 1" class="btn btn-default" />
            <input type="button" id="testButton2" value="Test Button 2" class="btn btn-default" />
            <input type="button" id="testButton3" value="Test Button 3" class="btn btn-default" />
        </p>
    </div>
    <div>
        <p>Mauris mauris ante, blandit et, ultrices a, suscipit eget, quam. Integer ut neque. Vivamus nisi metus, molestie vel, gravida in, condimentum sit amet, nunc. Nam a nibh. Donec suscipit eros. Nam mi. Proin viverra leo ut odio. Curabitur malesuada. Vestibulum a velit eu ante scelerisque vulputate.</p>
    </div>
    <div id="accordionHeader">
        <h3>Section 2</h3>
        <p>
            More Stuff Here
            <input type="button" id="testButton1" value="Test Button 4" class="btn btn-default" />
            <input type="button" id="testButton2" value="Test Button 5" class="btn btn-default" />
            <input type="button" id="testButton3" value="Test Button 6" class="btn btn-default" />
        </p>
    </div>
    <div>
        <p>Sed non urna. Donec et ante. Phasellus eu ligula. Vestibulum sit amet purus. Vivamus hendrerit, dolor at aliquet laoreet, mauris turpis porttitor velit, faucibus interdum tellus libero ac justo. Vivamus non quam. In suscipit faucibus urna. </p>
    </div>
    <div id="accordionHeader">
        <h3>Section 3</h3>
        <p>
            More Stuff Here
            <input type="button" id="testButton1" value="Test Button 7" class="btn btn-default" />
            <input type="button" id="testButton2" value="Test Button 8" class="btn btn-default" />
            <input type="button" id="testButton3" value="Test Button 9" class="btn btn-default" />
        </p>
    </div>
    <div>
        <p>Nam enim risus, molestie et, porta ac, aliquam ac, risus. Quisque lobortis. Phasellus pellentesque purus in massa. Aenean in pede. Phasellus ac libero ac tellus pellentesque semper. Sed ac felis. Sed commodo, magna quis lacinia ornare, quam ante aliquam nisi, eu iaculis leo purus venenatis dui. </p>
        <ul>
            <li>List item one</li>
            <li>List item two</li>
            <li>List item three</li>
        </ul>
    </div>
    <div id="accordionHeader">
        <h3>Section 4</h3>
        <p>
            More Stuff Here
            <input type="button" id="testButton1" value="Test Button 10" class="btn btn-default" />
            <input type="button" id="testButton2" value="Test Button 11" class="btn btn-default" />
            <input type="button" id="testButton3" value="Test Button 12" class="btn btn-default" />
        </p>
    </div>
    <div>
        <p>Cras dictum. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Aenean lacinia mauris vel est. </p><p>Suspendisse eu nisl. Nullam ut libero. Integer dignissim consequat lectus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. </p>
    </div>
</div>

<script>
    'use strict';

    $(() => {
        $('#accordion').accordion({
            header: 'div#accordionHeader',
            collapsible: true,
            active: false,
            animate: false,
            activate: function (event, ui) {
                const contentPanel = $(ui.newPanel[0]);

                contentPanel.html(`Dynamic content: ${new Date()}`);
            }
        });

        $(".btn.btn-default").click((event) => {
            // Prevent the panel from opening/closing
            event.stopPropagation();
            event.preventDefault();
            
            alert(`Clicked the ${event.target.value} button!`);
        });
    });
</script>